{% extends 'clothing/base.html' %} {% block body %}

{% comment %} <center>
<div class="card text-center" style="width:40%">
    <div class="card-header">Login</div>
        <div class="card-body">
            <p class="card-text">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label
                            for="user"
                            class="form-label"
                            >Username</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="user" />
                    </div>
                    <div class="mb-3">
                        <label
                            for="pass"
                            class="form-label"
                            >Password</label
                        >
                        <input
                            type="password"
                            class="form-control"
                            id="pass" />
                    </div>

                    <button
                        type="submit"
                        class="btn btn-primary">
                        Submit
                    </button>
                </form>
            </p>
        </div>
</div>
</center> {% endcomment %}
<form method="POST">
    {% csrf_token %}

    <label for="user">Username:</label><br>
    <input type="text" id="user" name="username"><br>

    <label for="pass">Password:</label><br>
    <input type="password" id="pass" name="password"><br><br>

    <button type="submit">Login</button>
</form>
{% endblock %}
