{% extends 'clothing/base.html' %} {% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <img src="{{ item.item_image }}" alt="Clothing Item" class="img-fluid">
        </div>
        <div class="col-lg-6">
            <h2>{{ item.item_name }}</h2>
            <p>{{ item.item_desc }}</p>
            <p>Price: ₹{{ item.item_price }}</p>
            <p>Size: <select class="form-control">
                    <option>Small</option>
                    <option>Medium</option>
                    <option>Large</option>
                </select></p>
            <p>Quantity: <input type="number" class="form-control" value="1" min="1"></p>
            <a class="btn btn-primary btn-lg btn-block" href="{% url 'users:orders' item.id item.prod_code user.username %}">Buy Now</a>
        </div>
    </div>
</div>

{% endblock %}
