<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Genx</title>
	</head>
	<body class="bg-light bg-gradient">
		{% extends 'clothing/base.html' %} {% block body %}

		<center>
			<div
				id="carouselExampleAutoplaying"
				class="carousel slide mb-5"
				data-bs-ride="carousel"
				style="height: 400px; width: 100%">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img
							src="https://images.pexels.com/photos/3965545/pexels-photo-3965545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
							class="d-block"
							alt="..."
							style="max-width: 100%; aspect-ratio: 32/10; object-fit: cover" />
					</div>
					<div class="carousel-item">
						<img
							src="https://images.pexels.com/photos/3735641/pexels-photo-3735641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
							class="d-block"
							alt="..."
							style="max-width: 100%; aspect-ratio: 32/10; object-fit: cover" />
					</div>
					<div class="carousel-item">
						<img
							src="https://images.pexels.com/photos/3965551/pexels-photo-3965551.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
							class="d-block"
							alt="..."
							style="max-width: 100%; aspect-ratio: 32/10; object-fit: cover" />
					</div>
				</div>
				<button
					class="carousel-control-prev"
					type="button"
					data-bs-target="#carouselExampleAutoplaying"
					data-bs-slide="prev">
					<span
						class="carousel-control-prev-icon"
						aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button
					class="carousel-control-next"
					type="button"
					data-bs-target="#carouselExampleAutoplaying"
					data-bs-slide="next">
					<span
						class="carousel-control-next-icon"
						aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</center>
		<div class="row">
			{% for item in itemlist %}
			<div class="col-md-3 mb-4">
				<div
					class="card"
					style="width: 100%">
					<img
						src="{{ item.item_image }}"
						class="card-img-top"
						alt="..." />
					<div class="card-body">
						<h5 class="card-title">{{ item.item_name }}</h5>
						<p class="card-text">{{ item.item_desc | truncatewords:6 }}</p>
						<p class="card-text">₹{{ item.item_price }}</p>
						<a
							href="{% url 'clothing:detail' item.id %}"
							class="btn btn-primary"
							>Details</a
						>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endblock %}
	</body>
</html>
