{% extends 'clothing/base.html' %} 
{% block body %}

    <h2>Your Previous Orders</h2>
    {% if previous_orders %}
        <ul>
            {% for order in previous_orders %}
                    Order Id: {{ order.order_id }} <br>
                    Item: {{ order.item }} <br>
                    Quantity: {{ order.quantity }} <br>
                    Size: {{ order.size }} <br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no previous orders.</p>
    {% endif %}
{% endblock %}
