{% extends 'clothing/base.html' %}
{% block body %}

{% if previous_orders %}
<div class="container-fluid p-5">
    <div class="card card-1 mx-auto" style="width: 60%;">
        <div class="card-header bg-white">
            <div class="col my-auto">
                <h3 class="p-2">Thanks for your Order!</h3>
            </div>
        </div>
        <div class="card-body">
            {% for order in previous_orders %}
            <div class="card card-2 mb-4">
                <div class="card-body">
                    <div class="media d-flex align-items-center">
                        <img class="img-fluid mr-4" src="{{ order.item.item_image }}" width="100" height="100" />
                        <div class="row my-auto flex-column flex-md-row">
                            <div class="col my-auto p-4">
                                <h5 class="mb-1">{{ order.item.item_name }}</h5>
                                <small>{{ order.item.item_desc }}</small>
                            </div>
                            <div class="col my-auto p-3">
                                <h6 class="mb-1">Order Id: {{ order.order_id }}</h6>
                                <small>Size: {{ order.size }}</small>
                                <small>Qty: {{ order.quantity }}</small>
                                <h6 class="mt-2">Item Price: &#8377;{{ order.item.item_price }}</h6>
                                <h5>Total Amount: &#8377;{{ order.total_amount }}</h5>
                            </div>
                        </div>
                    </div>
                    <hr class="my-3">
                    <div class="row">
                        <div class="col-3 mb-3"><i>Order Status:</i></div>
                        <div class="col-6 mt-auto">
                            <h3>{{ order.order_status }}</h3>
                        </div>
                        <a class="btn btn-danger col-2" href="{% url 'clothing:cancel_order' order.order_id %}">Cancel
                            Order</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="card-footer">
                <div class="jumbotron-fluid">
                    <div class="row justify-content-between">
                        <div class="col-auto my-auto">
                            <h2 class="mb-0 font-weight-bold">TOTAL PAID</h2>
                        </div>
                        <div class="col-auto my-auto ml-auto">
                            <h1 class="display-3">&#8377; {{ grand_total }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<h1 class="p-5">You have no previous orders.</h1>
{% endif %}
{% endblock %}